@model List<Emp>


<a asp-controller="StoreProcedure" asp-action="AddEmp"><input type="button" value="Add Emp" class="btn btn-primary" /></a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var d in Model)
        {
            <tr>
                <th scope="row">@d.Id</th>
                <td>@d.Name</td>
                <td>@d.Dept</td>
                <td>@d.Salary</td>
                <td><a asp-controller="StoreProcedure" asp-action="DeleteEmp"><input value="Delele" class="btn btn-sm btn-danger" type="button" /></a>||<a asp-controller="StoreProcedure" asp-action="EditEmp"><input value="Edit" class="btn btn-sm btn-success" type="button" /></a></td>
            </tr>
        }
        
        
    </tbody>
</table>